*{
    margin: 10;
    padding: 0;
    background-image: url();
}

.red{
    color: blue;
    background-color:rgb(192, 126, 126);
    height: 30px;
}
#head{
   color: rgb(31, 23, 20);
   background-color: rgb(70, 93, 128);
}
body{
    color:blue;
    background-image: url('fodu.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    border:4px solid rgb(194, 16, 16);
    height: 1300px;
    width: 850px;
   
    background-repeat: no-repeat ;
}
p{
    color: black;
    border: 3px solid red;
}